html { background-color: #e6e3d8;
  font-family: Tahoma;
  color: white;
  font-size: 150%;
  margin-left: 80px;
  margin-top: 80px;
  margin-right: 80px;
  margin-bottom: 200px;
  text-align: justify;
}
  
p{
  color: #696653;
  text-indent : 20px;
}

body{
  margin-left: 10%;
  margin-bottom: 10%;
}

.sous{
  text-indent: 40px;
}

head {
  margin-left:10%;
  padding:1px 16px;
  height:1000px;
  background-color: #F1F1F1;
  text-align: center;
  padding: 2%;
}

.topnav {
  display: flex;
  overflow: hidden;
  text-align: center;
  background-color: #696653;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  margin-left: -90px;
  height: 100%;
  top: 10%;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  flex: auto;
}


.topnav a:hover {
  background-color: #f2f2f2;
  color: #696653;
} 

h1 { font-family: serif;
text-align: center;
font-size: 300%;
color: #696653;
font-weight: bold;
text-decoration: underline;
}
h2 { font-family: arial;
text-align: center;
font-size: 100%;
padding: 10px;
color: white;
text-shadow: 2px 2px 4px #494429;
}

h3 {  font-family: arial;
font-size: 85%;
color: #696653;
}
h4 {
  color: #fffffe;
  font-size: 115%;  
}


a:hover {
  color: #696653;
}



button {
  position: fixed;
  top: 15px;
  left: 15px;
  border: 4px solid #696653;
  padding: 10px;
  background-color: white;
  border-radius: 25%;
}

nav {    
  position: fixed;
  top: 1%;
  text-align: center;
  align-content: center;
  left: -1%;
  color: #696653;
  font-size: 120%;
}

primary-navigation {
    margin: 0 auto;
    display: block;
    position: fixed;
    padding: 120px 0 0 0;  
    text-align: center;
    font-size: 16px;
}
    ul li {
      list-style: none;
      margin: 0 -10%;
      border-bottom: 2px solid #696653;
      display: block;
      padding: 10% 0% ;
      position: relative;
      text-decoration: none;
      text-align: center;
      font-family: arvo;
      color: black;
    }

    li a:hover {
      color: #696653;
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      padding-left: 0;
      left: 100%;
      top: -150%;
      display: block;
      background: white;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      font-size: 12px;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #e6e3d8;
    }


    ul li ul li {
      clear: both;
      width: 100%;
      text-align: center;
      margin-bottom: 5px;
      border-style: none;
      font-size: 175%;
      padding-bottom: 2%; 
      margin-left: 0%;     
    }

ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #696653;
  transition: all 0.3s ease;
  background-color: #e6e3d8;
}

a {
    color: #494429;
    text-decoration: none;
}
    a.hover {
        color: #696653;
    }
 

 ul li ul li a { transition: all 0.5s ease; }

 li.active {
  background-color:floralwhite;
  color: #494429;
}

#mode {
  width: 2%;
  position: fixed;
  right: 1%;
  padding: 1%;
  border: 4px solid #696653;
  top: 1%;
  border-radius: 50%;
  background-color: #e6e3d8;
  padding-bottom: 0.9%;
}

body {
  margin-left:8%;
  padding:1px 16px;
  height:1000px;
}