body.nuit {
    background-color: #2a465a;
    color: white;
}

.nuit #liste {
    color: #fcf9ef;
}

.nuit p {
    color: #fcf9ef;
}

.nuit h1 {
    color: #e3e0cc;
}


.nuit #nav li {
    border-bottom: 2px solid #d7d5c9;
}

    .nuit #nav li ul {
        background: #1b2c38;
    }


.nuit a {
    color: #e3e0cb;
}

    .nuit a.hover {
        color: #cfccb7;
    }

.nuit li.active {
    background-color: #1b2c38;
    color: #fffdf1;
}

.nuit #mode {
    width: 3%;
    padding: 0.5%;
    border: 4px solid #e3e0cc;
    background-color: #2a465a;
}
